In [75]:
import pandas as pd
import numpy as np
import matplotlib as plt
from itertools import groupby

In [26]:
df = pd.read_csv('cleaned_data.zip')
df = df.apply(pd.to_numeric, errors = 'ignore')

In [27]:
df.count()

Date              451604
Speed             451604
Altitude          451604
Pressure          451604
X                 451604
Y                 451604
Z                 451604
G                 451604
Latitude          451604
Longitude         451604
Heading           451604
Magnetic Field    451604
Sound Level       451604
Luminance         451604
Driver            451604
dtype: int64

In [28]:
mean_G = df.G.mean()
sd_G = df.G.std()

low_limit = meanG -2*sdG
high_limit = meanG + 2*sdG
print(mean_G)
print(sd_G)
print(low_limit)
print(high_limit)

1.0059043258562665
0.06517122598375481
0.9121801056973973
1.1117429138029276

In [32]:
df['outlier'] = (df['G'] <= low_limit) | (df['G'] >= high_limit)

In [78]:
type(df.outlier)

pandas.core.series.Series

In [83]:
outlier = df['outlier']
trues = []
index_list = []

for index, value in outlier.iteritems():
    if value:
        trues.append(index)
    else:
        if len(trues) > 1:
            index_list.extend(trues)
        trues = []

if len(trues) > 1:
    index_list.extend(trues)

In [80]:
df_filtered = df.iloc[index_list]

In [81]:
len(index_list)

25657

In [82]:
df_filtered.head()

,Date,Speed,Altitude,Pressure,X,Y,Z,G,Latitude,Longitude,Heading,Magnetic Field,Sound Level,Luminance,Driver,outlier
6,44:44.3,13.18,117.575111,1001.873856,0.089340,-0.843430,-0.317230,0.905533,32.757233,-117.122829,258.466003,60.593038,0.0,0.090733,Daniel,True
7,44:44.4,13.18,117.575111,1001.873856,-0.022995,-0.740540,-0.373474,0.829705,32.757233,-117.122829,258.466003,60.593038,0.0,0.088333,Daniel,True
12,44:45.0,13.18,117.575111,1001.873856,0.056915,-0.799789,-0.256180,0.841743,32.757233,-117.122829,258.466003,60.593038,0.0,0.087823,Daniel,True
13,44:45.1,13.18,117.575111,1001.873856,0.053726,-0.749893,-0.379517,0.842175,32.757233,-117.122829,258.466003,60.593038,0.0,0.089341,Daniel,True
37,44:47.5,13.03,117.883339,1002.035828,0.208282,-1.205704,-0.477448,1.313415,32.757234,-117.123244,258.498840,59.537563,0.0,0.073652,Daniel,True

In [84]:
df_filtered.count()

Date              25657
Speed             25657
Altitude          25657
Pressure          25657
X                 25657
Y                 25657
Z                 25657
G                 25657
Latitude          25657
Longitude         25657
Heading           25657
Magnetic Field    25657
Sound Level       25657
Luminance         25657
Driver            25657
outlier           25657
dtype: int64

In [85]:
df_filtered.to_csv('filtered.csv')