In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
from itertools import groupby

In [8]:
df = pd.read_csv('cleaned_data.zip')
df = df.apply(pd.to_numeric, errors = 'ignore')

In [9]:
df.count()

Date              451604
Speed             451604
Altitude          451604
Pressure          451604
X                 451604
Y                 451604
Z                 451604
G                 451604
Latitude          451604
Longitude         451604
Heading           451604
Magnetic Field    451604
Sound Level       451604
Luminance         451604
Driver            451604
dtype: int64

In [12]:
mean_G = df.G.mean()
sd_G = df.G.std()

low_limit = mean_G -2*sd_G
high_limit = mean_G + 2*sd_G
print(mean_G)
print(sd_G)
print(low_limit)
print(high_limit)

1.0059043258562665
0.06517122598375481
0.875561873888757
1.1362467778237761

In [13]:
df['outlier'] = (df['G'] <= low_limit) | (df['G'] >= high_limit)
df.head()

,Date,Speed,Altitude,Pressure,X,Y,Z,G,Latitude,Longitude,Heading,Magnetic Field,Sound Level,Luminance,Driver,outlier
0,44:43.7,13.40,117.363869,1001.769867,0.129517,-0.913025,-0.561371,1.079595,32.757233,-117.122688,260.198639,59.920509,0.0,0.088938,Daniel,False
1,44:43.8,13.40,117.363869,1001.769867,0.033691,-0.925293,-0.501190,1.052850,32.757233,-117.122688,260.198639,59.920509,0.0,0.087040,Daniel,False
2,44:43.9,13.40,117.363869,1001.769867,0.107635,-0.898651,-0.490646,1.029511,32.757233,-117.122688,260.198639,59.920509,0.0,0.086292,Daniel,False
3,44:44.0,13.40,117.363869,1001.769867,0.023285,-0.930878,-0.405792,1.015747,32.757233,-117.122688,260.198639,59.920509,0.0,0.087148,Daniel,False
4,44:44.1,13.18,117.575111,1001.769867,0.076996,-0.827789,-0.430832,0.936365,32.757233,-117.122829,258.466003,60.593038,0.0,0.074801,Daniel,False

In [15]:
df.Driver.value_counts()

Erik        189964
Daniel      174915
Zhisen       73771
Naazneen     12954
Name: Driver, dtype: int64

In [83]:
outlier = df['outlier']
trues = []
index_list = []

for index, value in outlier.iteritems():
    if value:
        trues.append(index)
    else:
        if len(trues) > 1:
            index_list.extend(trues)
        trues = []

if len(trues) > 1:
    index_list.extend(trues)

In [80]:
df_filtered = df.iloc[index_list]

In [87]:
df_filtered.count()

Date              25657
Speed             25657
Altitude          25657
Pressure          25657
X                 25657
Y                 25657
Z                 25657
G                 25657
Latitude          25657
Longitude         25657
Heading           25657
Magnetic Field    25657
Sound Level       25657
Luminance         25657
Driver            25657
outlier           25657
dtype: int64

In [1]:
df_filtered.tail()

NameError: name 'df_filtered' is not defined

In [85]:
df_filtered.to_csv('filtered.csv')