In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv('cleaned_data.zip')
df = df.apply(pd.to_numeric, errors = 'ignore')

In [3]:
df.count()

Date              487788
Speed             487788
Altitude          487788
Pressure          487788
X                 487788
Y                 487788
Z                 487788
G                 487788
Latitude          487788
Longitude         487788
Heading           487788
Magnetic Field    487788
Sound Level       487788
Luminance         487788
Driver            487788
dtype: int64

In [4]:
mean_G = df.G.mean()
sd_G = df.G.std()

low_limit = mean_G -2*sd_G
high_limit = mean_G + 2*sd_G
print(mean_G)
print(sd_G)
print(low_limit)
print(high_limit)

1.0064099520836847
0.06430579043370775
0.8777983712162691
1.1350215329511002

In [5]:
df['outlier'] = (df['G'] <= low_limit) | (df['G'] >= high_limit)
df.head()

,Date,Speed,Altitude,Pressure,X,Y,Z,G,Latitude,Longitude,Heading,Magnetic Field,Sound Level,Luminance,Driver,outlier
0,44:43.7,13.40,117.363869,1001.769867,0.129517,-0.913025,-0.561371,1.079595,32.757233,-117.122688,260.198639,59.920509,0.0,0.088938,Daniel,False
1,44:43.8,13.40,117.363869,1001.769867,0.033691,-0.925293,-0.501190,1.052850,32.757233,-117.122688,260.198639,59.920509,0.0,0.087040,Daniel,False
2,44:43.9,13.40,117.363869,1001.769867,0.107635,-0.898651,-0.490646,1.029511,32.757233,-117.122688,260.198639,59.920509,0.0,0.086292,Daniel,False
3,44:44.0,13.40,117.363869,1001.769867,0.023285,-0.930878,-0.405792,1.015747,32.757233,-117.122688,260.198639,59.920509,0.0,0.087148,Daniel,False
4,44:44.1,13.18,117.575111,1001.769867,0.076996,-0.827789,-0.430832,0.936365,32.757233,-117.122829,258.466003,60.593038,0.0,0.074801,Daniel,False

In [6]:
df.Driver.value_counts()

Erik        226148
Daniel      174915
Zhisen       73771
Naazneen     12954
Name: Driver, dtype: int64

In [7]:
outlier = df['outlier']
trues = []
index_list = []

for index, value in outlier.iteritems():
    if value:
        trues.append(index)
    else:
        if len(trues) > 1:
            index_list.extend(trues)
        trues = []

if len(trues) > 1:
    index_list.extend(trues)

In [12]:
df_filtered = df.iloc[index_list]

In [13]:
df_filtered.count()

Date              13530
Speed             13530
Altitude          13530
Pressure          13530
X                 13530
Y                 13530
Z                 13530
G                 13530
Latitude          13530
Longitude         13530
Heading           13530
Magnetic Field    13530
Sound Level       13530
Luminance         13530
Driver            13530
outlier           13530
dtype: int64

In [14]:
df_filtered.tail()

,Date,Speed,Altitude,Pressure,X,Y,Z,G,Latitude,Longitude,Heading,Magnetic Field,Sound Level,Luminance,Driver,outlier
487649,16:12.0,15.39,17.572877,1014.884338,0.167130,-0.556885,-0.281845,0.646134,32.719986,-117.162944,168.260422,20.089094,0.0,0.0,Erik,True
487650,16:12.0,15.39,17.572877,1014.884338,0.167130,-0.556885,-0.281845,0.646134,32.719986,-117.162944,168.260422,20.089094,0.0,0.0,Erik,True
487766,16:24.8,0.31,12.494885,1015.647964,0.079880,-1.194138,-0.205566,1.214332,32.718976,-117.162935,164.062378,21.595672,0.0,0.0,Erik,True
487767,16:24.9,0.31,12.494885,1015.647964,0.079880,-1.194138,-0.205566,1.214332,32.718976,-117.162935,164.062378,21.595672,0.0,0.0,Erik,True
487768,16:25.0,0.31,12.494885,1015.647964,0.002838,-1.229294,-0.234558,1.251475,32.718976,-117.162935,161.703629,31.427070,0.0,0.0,Erik,True

In [15]:
df_filtered.Driver.value_counts()

Zhisen      5677
Daniel      4460
Erik        2802
Naazneen     591
Name: Driver, dtype: int64

In [85]:
df_filtered.to_csv('filtered.csv')